
.bloop/
.bsp/
.idea/
.metals/
.vscode/

target/
project/metals.sbt
project/project/metals.sbt
project/project/project/metals.sbt
project/target/

klib-core/shared/target/
klib-core/jvm/target/
klib-core/js/target/

tmp/
